services:
  adguard:
    image: adguard/adguardhome
    container_name: adguard
    mem_limit: 2g
    cpu_shares: 768
    security_opt:
    - no-new-privileges:true
    network_mode: host
    volumes:
    - ${DOCKERCONFDIR}/adguard/config:/opt/adguardhome/conf:rw
    - ${DOCKERCONFDIR}/adguard/data:/opt/adguardhome/work:rw
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    restart: on-failure:5
  tailscale:
    image: tailscale/tailscale
    container_name: tailscaled
    cap_add:
    - NET_ADMIN
    - NET_RAW
    environment:
    #      - TS_HOSTNAME=${TS_HOSTNAME} # Usually not necessary for your hostname to be the same name on the tailscale network
    - TS_AUTHKEY=${TS_AUTHKEY} # Generate auth keys here: https://login.tailscale.com/admin/settings/keys
    #      - TS_ROUTES=${TS_ROUTES} # Creates a subnet router for Tailscale. Use your subnet's CIDR in the form: 192.168.1.0/24
    - TS_ACCEPT_DNS=${TS_ACCEPT_DNS}
    - TS_SOCKET=${TS_SOCKET}
    - TS_EXTRA_ARGS=${TS_EXTRA_ARGS}
    - TS_STATE_DIR=${TS_STATE_DIR}
    - TS_ACCEPT_DNS={TS_ACCEPT_DNS}
    - PUID=${PUID}
    - PGID=${PGID}
    - TZ=${TZ} #Change to your timezone
    volumes:
    - ${DOCKERCONFDIR}/tailscale:/var/lib
    - /dev/net/tun:/dev/net/tun
    network_mode: host
    restart: unless-stopped
  #Unifi-Controller
  unifi-db:
    image: docker.io/mongo
    container_name: unifi-db
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ} #Change to your timezone
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_DBNAME=${MONGO_DBNAME}
      - MONGO_AUTHSOURCE=admin
    volumes:
      - ${DOCKERCONFDIR}/mongo-db:/data/db
      - ${DOCKERCONFDIR}/mongo-db/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    restart: unless-stopped
  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application:latest
    container_name: unifi-network-application
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ} #Change to your timezone
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=unifi-db
      - MONGO_PORT=27017
      - MONGO_DBNAME=${MONGO_DBNAME}
      - MONGO_AUTHSOURCE=admin
      - MEM_LIMIT=1024 #optional
      - MEM_STARTUP=1024 #optional
      # - MONGO_TLS= #optional
    volumes:
      - ${DOCKERCONFDIR}/unifi:/config
    ports:
      - 8443:8443
      - 3478:3478/udp
      - 10001:10001/udp
      - 8080:8080
      - 1900:1900/udp #optional
      - 8843:8843 #optional
      - 8880:8880 #optional
      - 6789:6789 #optional
      - 5514:5514/udp #optional
    restart: unless-stopped  
